.thumbnail{
width: 359px;
object-fit: contain;
display: block;
}

.search-bar{
    font-size: 20px;
    margin-left: 12px;
    display: block;
}

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}

.video-title{
  margin-left: 48px;
}

.author{
  margin-left: 48px;
}
.stats{
  margin-left: 48px;
}
.channel-icon{
  display: inline-block;
  width: 15px;
  vertical-align: top;
  object-fit: contain;

}

.channel-info{
  display: inline-block;
  width: 200px;
}

.icon-icon{
  width: 100px;
}