<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARTROOPS</title>
    <link rel="stylesheet" href="../../public/css/video.css" />
  </head>
  <body>
    <div class="container">
      <div class="header"></div>
      <div class="content">
        <div class="video">
          <iframe
            src="https://www.youtube.com/embed/TICoplegF18"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <div class="info">
            <div class="title">
              <p>periphery 1</p>
            </div>
          </div>
        </div>
        <div class="up-next"></div>
      </div>
    </div>
  </body>
</html>
